.subject-list
	ul
		li#main-subject
			h2 Physics
		li#sub-subject
			h3 Astrophysics:
		li
			a(href='/subjects/astro-ph.GA') Astrophysics of Galaxies
		li
			a(href='/subjects/astro-ph.CO') Cosmology and Nongalactic Astrophysics
		li
			a(href='/subjects/astro-ph.EP') Earth and Planetary Astrophysics
		li
			a(href='/subjects/astro-ph.HE') High Energy Astrophysical Phenomena
		li
			a(href='/subjects/astro-ph.IM') Instrumentation and Methods for Astrophysics
		li
			a(href='/subjects/astro-ph.SR') Solar and Stellar Astrophysics
		li#sub-subject
			h3 Condensed Matter:
		li
			a(href='/subjects/cond-mat.dis-nn') Disordered Systems and Neural Networks
		li
			a(href='/subjects/cond-mat.mtrl-sci') Materials Science
		li
			a(href='/subjects/cond-mat.mes-hall') Mesoscale and Nanoscale Physics
		li
			a(href='/subjects/cond-mat.other') Other Condensed Matter
		li
			a(href='/subjects/cond-mat.quant-gas') Quantum Gases
		li
			a(href='/subjects/cond-mat.soft') Soft Condensed Matter
		li
			a(href='/subjects/cond-mat.stat-mech') Statistical Mechanics
		li
			a(href='/subjects/cond-mat.str-el') Strongly Correlated Electrons
		li
			a(href='/subjects/cond-mat.supr-con') Superconductivity
		li
			a(href='/subjects/gr-qc') General Relativity and Quantum Cosmology
		li
			a(href='/subjects/hep-ex') High Energy Physics - Experiment
		li
			a(href='/subjects/hep-lat') High Energy Physics - Lattice
		li
			a(href='/subjects/hep-ph') High Energy Physics - Phenomenology
		li
			a(href='/subjects/hep-th') High Energy Physics - Theory
		li
			a(href='/subjects/math-ph') Mathematical Physics
		li#sub-subject
			h3 Nonlinear Sciences:
		li
			a(href='/subjects/nlin.AO') Adaptation and Self-Organizing Systems
		li
			a(href='/subjects/nlin.CG') Cellular Automata and Lattice Gases
		li
			a(href='/subjects/nlin.CD') Chaotic Dynamics
		li
			a(href='/subjects/nlin.SI') Exactly Solvable and Integrable Systems
		li
			a(href='/subjects/nlin.PS') Pattern Formation and Solitons
		li
			a(href='/subjects/nucl-ex') Nuclear Experiment
		li
			a(href='/subjects/nucl-th') Nuclear Theory
		li#sub-subject
			h3 Physics:
		li
			a(href='/subjects/physics.acc-ph') Accelerator Physics
		li
			a(href='/subjects/physics.ao-ph') Atmospheric and Oceanic Physics
		li
			a(href='/subjects/physics.atom-ph') Atomic Physics
		li
			a(href='/subjects/physics.atm-clus') Atomic and Molecular Clusters
		li
			a(href='/subjects/physics.bio-ph') Biological Physics
		li
			a(href='/subjects/physics.chem-ph') Chemical Physics
		li
			a(href='/subjects/physics.class-ph') Classical Physics
		li
			a(href='/subjects/physics.comp-ph') Computational Physics
		li
			a(href='/subjects/physics.data-an') Data Analysis, Statistics and Probability
		li
			a(href='/subjects/physics.flu-dyn') Fluid Dynamics
		li
			a(href='/subjects/physics.gen-ph') General Physics
		li
			a(href='/subjects/physics.geo-ph') Geophysics
		li
			a(href='/subjects/physics.hist-ph') History and Philosophy of Physics
		li
			a(href='/subjects/physics.ins-det') Instrumentation and Detectors
		li
			a(href='/subjects/physics.med-ph') Medical Physics
		li
			a(href='/subjects/physics.optics') Optics
		li
			a(href='/subjects/physics.ed-ph') Physics Education
		li
			a(href='/subjects/physics.soc-ph') Physics and Society
		li
			a(href='/subjects/physics.plasm-ph') Plasma Physics
		li
			a(href='/subjects/physics.pop-ph') Popular Physics
		li
			a(href='/subjects/physics.space-ph') Space Physics
		li
			a(href='/subjects/quant-ph') Quantum Physics
		li#main-subject
			h2 Mathematics
		li
			a(href='/subjects/math.AG') Algebraic Geometry
		li
			a(href='/subjects/math.AT') Algebraic Topology
		li
			a(href='/subjects/math.AP') Analysis of PDEs
		li
			a(href='/subjects/math.CT') Category Theory
		li
			a(href='/subjects/math.CA') Classical Analysis and ODEs
		li
			a(href='/subjects/math.CO') Combinatorics
		li
			a(href='/subjects/math.AC') Commutative Algebra
		li
			a(href='/subjects/math.CV') Complex Variables
		li
			a(href='/subjects/math.DG') Differential Geometry
		li
			a(href='/subjects/math.DS') Dynamical Systems
		li
			a(href='/subjects/math.FA') Functional Analysis
		li
			a(href='/subjects/math.GM') General Mathematics
		li
			a(href='/subjects/math.GN') General Topology
		li
			a(href='/subjects/math.GT') Geometric Topology
		li
			a(href='/subjects/math.GR') Group Theory
		li
			a(href='/subjects/math.HO') History and Overview
		li
			a(href='/subjects/math.IT') Information Theory
		li
			a(href='/subjects/math.KT') K-Theory and Homology
		li
			a(href='/subjects/math.LO') Logic
		li
			a(href='/subjects/math.MP') Mathematical Physics
		li
			a(href='/subjects/math.MG') Metric Geometry
		li
			a(href='/subjects/math.NT') Number Theory
		li
			a(href='/subjects/math.NA') Numerical Analysis
		li
			a(href='/subjects/math.OA') Operator Algebras
		li
			a(href='/subjects/math.OC') Optimization and Control
		li
			a(href='/subjects/math.PR') Probability
		li
			a(href='/subjects/math.QA') Quantum Algebra
		li
			a(href='/subjects/math.RT') Representation Theory
		li
			a(href='/subjects/math.RA') Rings and Algebras
		li
			a(href='/subjects/math.SP') Spectral Theory
		li
			a(href='/subjects/math.ST') Statistics Theory
		li
			a(href='/subjects/math.SG') Symplectic Geometry
		li#main-subject
			h2 Computer Science
		li
			a(href='/subjects/cs.AI') Artificial Intelligence
		li
			a(href='/subjects/cs.CL') Computation and Language
		li
			a(href='/subjects/cs.CC') Computational Complexity
		li
			a(href='/subjects/cs.CE') Computational Engineering, Finance, and Science
		li
			a(href='/subjects/cs.CG') Computational Geometry
		li
			a(href='/subjects/cs.GT') Computer Science and Game Theory
		li
			a(href='/subjects/cs.CV') Computer Vision and Pattern Recognition
		li
			a(href='/subjects/cs.CY') Computers and Society
		li
			a(href='/subjects/cs.CR') Cryptography and Security
		li
			a(href='/subjects/cs.DS') Data Structures and Algorithms
		li
			a(href='/subjects/cs.DB') Databases
		li
			a(href='/subjects/cs.DL') Digital Libraries
		li
			a(href='/subjects/cs.DM') Discrete Mathematics
		li
			a(href='/subjects/cs.DC') Distributed, Parallel, and Cluster Computing
		li
			a(href='/subjects/cs.ET') Emerging Technologies
		li
			a(href='/subjects/cs.FL') Formal Languages and Automata Theory
		li
			a(href='/subjects/cs.GL') General Literature
		li
			a(href='/subjects/cs.GR') Graphics
		li
			a(href='/subjects/cs.AR') Hardware Architecture
		li
			a(href='/subjects/cs.HC') Human-Computer Interaction
		li
			a(href='/subjects/cs.IR') Information Retrieval
		li
			a(href='/subjects/cs.IT') Information Theory
		li
			a(href='/subjects/cs.LG') Learning
		li
			a(href='/subjects/cs.LO') Logic in Computer Science
		li
			a(href='/subjects/cs.MS') Mathematical Software
		li
			a(href='/subjects/cs.MA') Multiagent Systems
		li
			a(href='/subjects/cs.MM') Multimedia
		li
			a(href='/subjects/cs.NI') Networking and Internet Architecture
		li
			a(href='/subjects/cs.NE') Neural and Evolutionary Computing
		li
			a(href='/subjects/cs.NA') Numerical Analysis
		li
			a(href='/subjects/cs.OS') Operating Systems
		li
			a(href='/subjects/cs.OH') Other Computer Science
		li
			a(href='/subjects/cs.PF') Performance
		li
			a(href='/subjects/cs.PL') Programming Languages
		li
			a(href='/subjects/cs.RO') Robotics
		li
			a(href='/subjects/cs.SI') Social and Information Networks
		li
			a(href='/subjects/cs.SE') Software Engineering
		li
			a(href='/subjects/cs.SD') Sound
		li
			a(href='/subjects/cs.SC') Symbolic Computation
		li
			a(href='/subjects/cs.SY') Systems and Control
		li#main-subject
			h2 Quantitative Biology
		li
			a(href='/subjects/q-bio.BM') Biomolecules
		li
			a(href='/subjects/q-bio.CB') Cell Behavior
		li
			a(href='/subjects/q-bio.GN') Genomics
		li
			a(href='/subjects/q-bio.MN') Molecular Networks
		li
			a(href='/subjects/q-bio.NC') Neurons and Cognition
		li
			a(href='/subjects/q-bio.OT') Other Quantitative Biology
		li
			a(href='/subjects/q-bio.PE') Populations and Evolution
		li
			a(href='/subjects/q-bio.QM') Quantitative Methods
		li
			a(href='/subjects/q-bio.SC') Subcellular Processes
		li
			a(href='/subjects/q-bio.TO') Tissues and Organs
		li#main-subject
			h2 Quantitative Finance
		li
			a(href='/subjects/q-fin.CP') Computational Finance
		li
			a(href='/subjects/q-fin.EC') Economics
		li
			a(href='/subjects/q-fin.GN') General Finance
		li
			a(href='/subjects/q-fin.MF') Mathematical Finance
		li
			a(href='/subjects/q-fin.PM') Portfolio Management
		li
			a(href='/subjects/q-fin.PR') Pricing of Securities
		li
			a(href='/subjects/q-fin.RM') Risk Management
		li
			a(href='/subjects/q-fin.ST') Statistical Finance
		li
			a(href='/subjects/q-fin.TR') Trading and Market Microstructure
		li#main-subject
			h2 Statistics
		li
			a(href='/subjects/stat.AP') Applications
		li
			a(href='/subjects/stat.CO') Computation
		li
			a(href='/subjects/stat.ML') Machine Learning
		li
			a(href='/subjects/stat.ME') Methodology
		li
			a(href='/subjects/stat.OT') Other Statistics
