extends simple-layout

block stylesheets
	link(rel="stylesheet", href="/stylesheets/login-register.css")

block content
	section.login
		if error
			p #{error.message}
		form(action="/register" method="post")
			//- values are set on an error render
			input(type="text" name="username" placeholder="Username" value=username required)
			input(type="email" name="email" placeholder="Email" value=email required)
			input(type="password" name="password" placeholder="Password" required)
			button(type="submit") Register
		a.option(href="/login") Already have an account? Login here.