doctype html
html
	head
		title= title
		meta(name='viewport', content='width=device-width')
		include ./components/google-analytics.pug
		link(href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,400i,500,700,900', rel='stylesheet')
		link(rel='stylesheet', href='/stylesheets/style.css')
		block stylesheets

	body
		header
			.container
				.heading
					h1: a(href="/") Arxival
				.links
					include ./components/header-links.pug
		main
			block content
		
		block scripts

